.dataTable {
  height: 30em;
  overflow: hidden;
}

#firstStartWizard {
  display:none;
}

.console {
  background-color: #fff;
  color: #888;
  font-size: 80%;
  white-space: normal;
  line-height: 130%;
  padding-bottom: 5px;
}

.console-large {
  background-color: #fff;
  color: #888;
  font-size: 120%;
  white-space: normal;
  line-height: 130%;
  padding-bottom: 5px;
}

.consoleNoBg {
  color: #888;
  font-size: 80%;
  white-space: normal;
  line-height: 130%;
  padding-bottom: 5px;
}

.error {
  color: red;
}

/* Fix for broken view with openlayers and bootstrap*/
#osmArea img {
	max-width:none;
}

.osmMap {
	width: 100%;
	height: 20em;
}

.ol-attribution:not(.ol-collapsed) {
  background: none;
}

